@model ShoppingCart.Data.Models.Product.CategoryProductModel


@foreach (var product in @Model.ProductModels.OrderBy(t => t.Price))
{
    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="#" class="card-img-top" alt="@product.Name"> <!-- Добавлено изображение -->
            <div class="card-body d-flex flex-column">
                <form asp-action="Add" asp-controller="Cart" method="post" id="Form">
                    <h5 class="card-title">@product.Name</h5>
                    <input type="hidden" name="name" value="@product.Name"/>

                    <p class="card-text flex-grow-1">@product.Description</p>
                    <input type="hidden" name="Name" value="@product.Description"/>

                    <h4 class="card-subtitle text-muted mt-2">@product.Price</h4>
                    <input type="hidden" name="Price" value="@product.Price"/>

                    <h5 class="card-subtitle text-end">@product.Weight Weight</h5>
                    <input type="hidden" name="Weight" value="@product.Weight"/>

                    <input type="hidden" name="ProductID" value="@product.ProductID"/>

                    <input id="Submit" value="Add to Cart" class="btn btn-primary w-100" type="submit">
                </form>
            </div>
        </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

</script>